.dropbtn {
    font-size: 25px ;
    text-align: center;
    background-color: #ff0000;
    width:212px;
    padding:7px;
    color:white;
  }
  
  .dropdown {
    position: block;
    width: 212px;
  }
  
  .dropdowncontent {
    display: none;
    z-index: 1;
  }
  .dropdown1{
    position: block;
    display: block;
  }
  .dropdowncontent1 {
    display: block;
    z-index: 1;
  }
  .dropdown:hover .dropdowncontent {display: block;}