.title {
  font-size: 1.6rem;
  margin-bottom: 14px;
}

.form-item {
  position: relative;
  font-size: 1.6rem;
  & input {
    padding: 4px 8px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 5px;
  }
  & label {
    position: absolute;
    top: 40%;
    transform: translateY(-100%);
    left: 8px;
    line-height: 1;
    font-size: 1.4rem;
    color: #ccc;
    transition: all linear 0.1s;
  }

  & input:not(:placeholder-shown) ~ label {
    top: 4px;
    padding: 0 4px;
    background-color: #fff;
  }
  & input:not(:placeholder-shown) {
    border : 1px solid black;
  }
}