.product-slide-title {
  padding: 13px 10px 9px 80px;
  font-weight: 540;
  z-index: 999;
  width: min-content;
  white-space: nowrap;
}

.flag {
  width: 10px;
  height: 10px;
  left: 0;
  bottom: -1rem;
  clip-path:polygon(156% 168%, 129% 7%,-79% -104%);
  filter: brightness(50%);
  z-index: 100;
}